<!DOCTYPE html>
<%- include('./partials/header.ejs') %>
<html lang="en">
  <%- include('./partials/nav.ejs') %>
  <body>
    <div class="not-found content">Oops! Something went wrong</div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
