<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt hic
        molestias fugiat ipsa repellat dolorum quas deserunt magni inventore
        suscipit ipsum nisi adipisci, consectetur laudantium aliquam voluptas
        maiores explicabo autem?
      </p>
      <p>
        Hic dolore vero, mollitia pariatur repudiandae saepe, adipisci sequi
        velit aperiam eveniet itaque neque ipsa, et architecto voluptate
        possimus libero totam. Ducimus fugit temporibus totam labore
        exercitationem recusandae at culpa?
      </p>
      <p>
        Quasi cumque debitis similique obcaecati voluptatibus magni incidunt
        necessitatibus aspernatur sapiente possimus. Repellat eum, impedit minus
        optio perspiciatis tempore aliquid ipsa cupiditate perferendis
        inventore. Aut optio officiis quaerat sit expedita.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
